.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #A67D8E;
    border-color: #aba2a7;
    font-family: Helvetica;
}

#header {
    font-family: Helvetica;
    font-size: 36px;
}

body {
    font-family: Helvetica;
    background-color: #eee6e7;
}

text {
    font-size: 20px;
}